.button-commun {
  display: flex;
}

.button-full {
  background-color: #faa8a8;
  border: 1px solid #faa8a8;
  border-radius: 4;
  padding: 8px 16px;
}

.button-full:hover {
  color: #faa8a8;
  background: none;
  border: 1px solid #faa8a8;
  border-radius: 4;
  padding: 8px 16px;
}

.button-hollow {
  border: 1px solid black;
  padding: 8px 16px;
}

.button-hollow:hover {
  color: #928c8c;
  border: 1px solid #928c8c;
  padding: 8px 16px;
}
