.button-commun {
  display: flex;
  padding: 8px 16px;
  border: 1px solid;
}

.button-full {
  background-color: var(--color-pink-300);
  border-color: transparent;
  border-radius: 4;
}

.button-full:hover {
  color: var(--color-pink-300);
  background: none;
  border-color: var(--color-pink-300);
  border-radius: 4;
}

.button-hollow {
  border-color: black;
}

.button-hollow:hover {
  color: var(--color-gray-500);
  border-color: var(--color-gray-500);
}
