* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  gap: 70px;
  background-color: #e8e8e8;
}

button {
  color: inherit;
  font-family: Karla;
  font-size: 16px;
  background: none;
  border: none;
}

img {
  height: 266.992px;
}

article {
  display: flex;
  width: 800px;
  align-items: flex-start;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
}

article:hover a {
  text-decoration: underline;
}

h2 {
  color: var(--gray-500, #928c8c);
  font-family: Karla;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 24px;
}

a {
  color: var(--gray-900, #161a1c);
  font-family: Karla;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none;
  margin-bottom: 8px;
}

p {
  color: var(--gray-900, #161a1c);
  font-family: Karla;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 600px) {
  article {
    flex-direction: column;
    width: 450px;
  }
  h2 {
    align-self: flex-end;
  }
  article img {
    height: 266.992px;
    align-self: stretch;
  }
}
